<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <a href="/">About uilendoggies</a>
                    Uilendoggies is a collective of real nice doggies who just love to dance. Find out more about uilendoggies by visiting these links below.
                    <ul>
                        <li><a href="#">About uilendoggies</a></li>
                        <li><a href="#">Why doggies?</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>